<div {{ attributes }}>
	{{ salutation }}
	<strong>
		This is my overridden Theme
	</strong>
	{% if target %}
		<span class="salutation—target">{{ target }}</span>
	{% endif %}
	<div class="clock"></div>

</div>
